.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  border: blue solid 2px;
  min-width: 0;
}

.qqwwee {
  border: #0f0d13 solid 2px;
}

.buttons {

}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

}



.recipeImg {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.ingredients-line {
  display: flex;
  flex-direction: row;
}
