.arrow {
  margin-left: 6px;
  font-size: 0.7em;
  transition: transform 0.3s ease;
  display: inline-block;
  user-select: none;
}



.manageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.spacer {
  flex: 1;
}

.manage {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.descriptionText {
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  padding: 0 1rem 0 1rem;
  margin: 0 2rem 1.5rem 2rem;
}

.nameText {
  flex: 1;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

}

.recipeImg {
  max-width: 100%;
  max-height: 300px;
}

