.custom-toolbar {
  margin-bottom: 20px;
  height: 80px;
    min-height: 40px;
    padding: 0 16px;

  .mat-toolbar-row {
    height: 40px;
    min-height: 40px;
  }
}

.main-nav {

}

a.custom-link,
button.custom-link {
  text-decoration: none;
  color: whitesmoke;
}

a.custom-link:hover,
button.custom-link:hover {
  color: gray !important;
}

.example-icon {
  padding-right: 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.spacer {
  width: 10px;
}

.main-nav-text {
  font-size: 1rem;
  padding: 5px;
}

/* Более узкий и более прозрачный mat-menu */
.mat-menu-panel.custom-menu {
  width: 160px; /* желаемая ширина */
  color: whitesmoke !important;
}

/* Полупрозрачные фон при наведении */
.mat-menu-panel.custom-menu
.mat-menu-item:hover {
  color: gray !important;
}

.arrow {
  margin-left: 6px;
  font-size: 0.7em;
  transition: transform 0.3s ease;
  display: inline-block;
  user-select: none;
}
