.example-card {
  height: auto;
  margin-bottom: 8px;
  max-height: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;

}

.highlighted{
  border: 0.5px solid #909090;
  background-color: rgba(174, 174, 174, 0.29) !important;
}

.card-grid {
  display: flex;
  justify-content: center;
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0.5rem;
  overflow: hidden;
  word-wrap: break-word;
  width: 110px;

}

.card-text mat-card-title {

}

.card-img {
  align-self: center;
  max-width: 150px;
  flex-shrink: 0;
  margin-left: auto;
}

.card-img img {
  max-width: 150px;
  max-height: 126.4px;
  width: auto;
  height: auto;
  object-fit: fill;
  border-radius: 4px;
}
