.recipe-list-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: center;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

