@use "@angular/material" as mat;
@use "./theme/custom-theme" as custom;

@include mat.core();
:root {
  @include mat.theme(custom.$light-theme);
  @include mat.color-variants-backwards-compatibility(custom.$light-theme);
  @include mat.all-component-themes(custom.$light-theme);
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-on-primary),
  ));
}

.dark-theme {
  @include mat.theme(custom.$dark-theme);
  @include mat.color-variants-backwards-compatibility(custom.$dark-theme);
  @include mat.all-component-themes(custom.$dark-theme);
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-on-primary),
  ));
}

body {

  --mat-sys-background: #ffffff;


}
